Repository configu/configu, pull requests merged in 2023-11, with the labels that each got.

#302 Fix grammar issues
  CONTRIBUTING.md
  go/README.md
  py/README.md
  ts/packages/browser/README.md
  ts/packages/node/README.md
Labels: chore

#295 Implement `FileConfigStore`
  ts/packages/node/src/stores/File.test.ts
  ts/packages/node/src/stores/File.ts
  ts/packages/node/src/stores/IniFile.test.ts
  ts/packages/node/src/stores/IniFile.ts
  ts/packages/node/src/stores/JsonFile.ts
Labels: chore

#307 Improve overall repository UX
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/maintenance-chore.md
  .github/actions/get-actor-action/action.yml
  .github/actions/py-env-action/action.yml
  .github/configs/labeler.yml
  .github/workflows/cd-cli.yml
  .github/workflows/cd-cra.yml
  .github/workflows/cd-go.yml
  .github/workflows/cd-lib.yml
  .github/workflows/cd-py.yml
  .github/workflows/cd-ts.yml
  .github/workflows/cd-vscode.yml
  .github/workflows/ci-drafter.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-health.yml
  .github/workflows/ci-issue.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci-py.yml
  .github/workflows/ci-ts.yml
  CONTRIBUTING.md
  java/src/index.java
  ts/packages/cli/README.md
Labels: chore

#300 Implement OpenFeatureConfigStore and related stores
  ts/package-lock.json
  ts/packages/node/package.json
  ts/packages/node/src/index.ts
  ts/packages/node/src/stores/CloudBees.ts
  ts/packages/node/src/stores/LaunchDarkly.ts
  ts/packages/node/src/stores/OpenFeature.test.ts
  ts/packages/node/src/stores/OpenFeature.ts
Labels: feat

#299 Implement eval command to upsert command piping
  .github/actions/get-actor-action/action.yml
  .github/workflows/ci-issue.yml
  .github/workflows/ci-pr.yml
  CONTRIBUTING.md
  ts/.eslintrc
  ts/.prettierignore
  ts/lint-staged.config.js
  ts/package-lock.json
  ts/package.json
  ts/packages/browser/README.md
  ts/packages/cli/.eslintrc
  ts/packages/node/README.md
  ts/packages/node/src/playground.ts
  ts/packages/node/src/stores/OpenFeature.test.ts
  ts/packages/ts/src/commands/EvalCommand.ts
  ts/packages/ts/src/commands/ExportCommand.ts
  ts/packages/ts/src/commands/UpsertCommand.ts
  ts/packages/ts/src/commands/commands.test.ts
  ts/packages/vscode/.eslintrc
Labels: feat, @configu/cicd, @configu/ts

#308 Add comments and fix test for OpenFeautreStore
  ts/packages/node/src/stores/CloudBees.ts
  ts/packages/node/src/stores/LaunchDarkly.ts
  ts/packages/node/src/stores/OpenFeature.test.ts
Labels: chore, @configu/ts
