Repository configu/configu, pull requests merged in 2023-12, with the labels that each got.

#324 Configu cli next
  .vscode/launch.json
  ts/.prettierignore
  ts/package-lock.json
  ts/package.json
  ts/packages/cli/.eslintrc
  ts/packages/cli/bin/dev
  ts/packages/cli/bin/dev.js
  ts/packages/cli/bin/run
  ts/packages/cli/bin/run.js
  ts/packages/cli/package.json
  ts/packages/cli/src/base.ts
  ts/packages/cli/src/commands/delete.ts
  ts/packages/cli/src/commands/eval.ts
  ts/packages/cli/src/commands/export.ts
  ts/packages/cli/src/commands/find.ts
  ts/packages/cli/src/commands/init.ts
  ts/packages/cli/src/commands/run.ts
  ts/packages/cli/src/commands/test.ts
  ts/packages/cli/src/commands/upsert.ts
  ts/packages/cli/src/helpers/stores.ts
  ts/packages/cli/src/helpers/utils.ts
Labels: feat, @configu/cli

#327 Add Codefresh to CiCd integrations
  ts/packages/lib/src/integrations/cicd.ts
Labels: chore, @configu/lib

#313 Python: Improve handling of previous overrides in eval command
  py/configu/commands/eval_command.py
  py/tests/commands/test_eval_command.py
Labels: bug, community, @configu/py
