Repository configu/configu, pull requests merged in 2024-11, with the labels that each got.

#606 Initial implementation of the generate command
  .eslintrc
  .lintstagedrc.js
  .prettierignore
  package.json
  packages/cli/package.json
  packages/cli/src/commands/generate.ts
  packages/cli/src/index.ts
  packages/cli/src/integration_template/package.json
  packages/cli/src/integration_template/src/{{name}}.ts
  packages/cli/src/integration_template/tsconfig.json
  packages/cli/src/integration_template/tsup.config.ts
  pnpm-lock.yaml
Labels: hacktoberfest-accepted, community, @configu/cli, @configu/repo

#648 Fix outdated lock file
  pnpm-lock.yaml
Labels: @configu/repo

#604 Add a `React Native` guide to Configu docs
  docs/guides/react-native.mdx
  docs/mint.json
Labels: @configu/docs

#653 debug-locally: add debug configuration for proxy
  .vscode/launch.json
Labels: community

#549 Add support for default store in new repo structure
  packages/common/src/ConfiguFile.ts
  packages/schema/.configu.json
Labels: community

#662 Add missing dependencies for store integrations
  packages/integrations/stores/cockroach-db/package.json
  packages/integrations/stores/mariadb/package.json
  packages/integrations/stores/ms-sql/package.json
  packages/integrations/stores/my-sql/package.json
  packages/integrations/stores/postgresql/package.json
  packages/integrations/stores/sqlite/package.json
  pnpm-lock.yaml
Labels: @configu/repo

#663 fix integrations bundle for different archs
  .github/actions/ts-env-action/action.yml
  .github/workflows/cd-configu-integrations.yml
  package.json
  packages/cli/src/integration_template/tsup.config.ts
  packages/common/src/Registry.ts
  packages/integrations/expressions/validator/tsup.config.ts
  packages/integrations/formatters/CompactJSON/tsup.config.ts
  packages/integrations/formatters/Dotenv/tsup.config.ts
  packages/integrations/formatters/HelmValues/tsup.config.ts
  packages/integrations/formatters/JSON/tsup.config.ts
  packages/integrations/formatters/KubernetesConfigMap/tsup.config.ts
  packages/integrations/formatters/TOML/tsup.config.ts
  packages/integrations/formatters/TerraformTfvars/tsup.config.ts
  packages/integrations/formatters/YAML/tsup.config.ts
  packages/integrations/package.json
  packages/integrations/src/bundler/index.ts
  packages/integrations/stores/aws-parameter-store/tsup.config.ts
  packages/integrations/stores/aws-secrets-manager/tsup.config.ts
  packages/integrations/stores/azure-key-vault/tsup.config.ts
  packages/integrations/stores/cloud-bees/tsup.config.ts
  packages/integrations/stores/cockroach-db/tsup.config.ts
  packages/integrations/stores/configu/tsup.config.ts
  packages/integrations/stores/csv-file/tsup.config.ts
  packages/integrations/stores/etcd/tsup.config.ts
  packages/integrations/stores/gcp-secret-manager-config-store/tsup.config.ts
  packages/integrations/stores/hashicorp-vault/tsup.config.ts
  packages/integrations/stores/ini-file/tsup.config.ts
  packages/integrations/stores/json-file/tsup.config.ts
  packages/integrations/stores/key-v/tsup.config.ts
  packages/integrations/stores/kubernetes-secret-store/tsup.config.ts
  packages/integrations/stores/launch-darkly/tsup.config.ts
  packages/integrations/stores/localforage/tsup.config.ts
  packages/integrations/stores/mariadb/tsup.config.ts
  packages/integrations/stores/ms-sql/tsup.config.ts
  packages/integrations/stores/my-sql/tsup.config.ts
  packages/integrations/stores/postgresql/tsup.config.ts
  packages/integrations/stores/split/tsup.config.ts
  packages/integrations/stores/sqlite/tsup.config.ts
  packages/integrations/stores/toml-file/tsup.config.ts
  packages/integrations/stores/xml-file/tsup.config.ts
Labels: @configu/cicd, @configu/cli, @configu/repo

#652 651 - CLI - deployment and installation script #651
  .github/actions/deploy-start-action/action.yml
  .github/workflows/cd-cli.yml
  packages/cli/.gitignore
  packages/cli/Dockerfile
  packages/cli/compiler/darwin.ts
  packages/cli/compiler/download-file.ts
  packages/cli/compiler/gz.ts
  packages/cli/compiler/index.ts
  packages/cli/compiler/linux.ts
  packages/cli/compiler/node-downloader.ts
  packages/cli/compiler/test/installation.test.ts
  packages/cli/compiler/win32.ts
  packages/cli/install.sh
  packages/cli/package.json
Labels: chore, @configu/cicd, @configu/cli

#667 powershell installation script for windows
  packages/cli/install.ps1
Labels: @configu/cli
