Repository configu/configu, pull requests merged in 2024-07, with the labels that each got.

#434 ignore intellij config folder
  .gitignore
Labels: chore

#435 Publish CLI to NPM
  .github/workflows/cd-cli.yml
  .github/workflows/cd-lib.yml
Labels: chore, @configu/cicd

#432 @configu/proxy
  .github/configs/cli-release-drafter.yml
  .github/configs/labeler.yml
  .github/configs/lib-release-drafter.yml
  .github/configs/proxy-release-drafter.yml
  .github/configs/release-drafter.yml
  .github/configs/ts-release-drafter.yml
  .github/workflows/cd-proxy.yml
  .github/workflows/ci-drafter.yml
  .github/workflows/ci-health.yml
  docs/images/proxy-docs-route.jpg
  docs/interfaces/proxy/ref.mdx
  docs/interfaces/proxy/setup.mdx
  docs/interfaces/sdk/ts/globals.mdx
  docs/mint.json
  package.json
  packages/proxy/Dockerfile
  packages/proxy/README.md
  packages/proxy/package.json
  packages/proxy/src/config.ts
  packages/proxy/src/index.ts
  packages/proxy/src/routes.ts
  packages/proxy/src/utils.ts
  packages/proxy/tsconfig.json
  packages/schema/build.mjs
  packages/schema/package.json
  packages/ts/package.json
  packages/ts/src/Cfgu.ts
  packages/ts/src/index.ts
  pnpm-lock.yaml
  tsconfig.build.json
Labels: feat, @configu/cicd, @configu/ts, @configu/docs, @configu/repo

#436 Add billing feature documentation
  docs/images/billing/billing-history.png
  docs/images/billing/billing-info-form.png
  docs/images/billing/billing-info.png
  docs/images/billing/change-method.png
  docs/images/billing/current-plan.png
  docs/images/billing/payment.png
  docs/images/billing/select-plan.png
  docs/images/billing/subscription-info.png
  docs/integrations/index.json
  docs/integrations/store/configu/approval-queue.mdx
  docs/integrations/store/configu/authorization.mdx
  docs/integrations/store/configu/billing.mdx
  docs/integrations/store/configu/config-editor.mdx
  docs/integrations/store/configu/config-explorer.mdx
  docs/integrations/store/configu/config-history.mdx
  docs/integrations/store/configu/integrations.mdx
  docs/integrations/store/configu/members.mdx
  docs/integrations/store/configu/settings.mdx
  docs/integrations/store/configu/tokens.mdx
  docs/integrations/store/configu/webhooks.mdx
  docs/mint.json
Labels: @configu/docs
