Repository configu/configu, pull requests merged in 2024-02, with the labels that each got.

#344 Adjust `@configu/ts` - `ConfiguConfigStore` for the Approval Queue feature
  ts/packages/browser/src/index.ts
  ts/packages/node/src/index.ts
  ts/packages/ts/src/stores/Configu.ts
Labels: chore, @configu/ts

#352 Adjust `@configu/cli` - `ConfiguConfigStore` for the Approval Queue feature
  ts/package-lock.json
  ts/packages/cli/package.json
  ts/packages/cli/src/commands/upsert.ts
Labels: feat, @configu/cli

#349 Adjust `@configu/ts` - `ConfiguConfigStore` for the Revision Tag feature
  ts/packages/ts/src/stores/Configu.test.ts
  ts/packages/ts/src/stores/Configu.ts
Labels: feat, @configu/ts

#354 Adjust `@configu/cli` - `ConfiguConfigStore` for the Revision Tag feature
  ts/package-lock.json
  ts/packages/cli/package.json
  ts/packages/cli/src/base.ts
Labels: feat, @configu/cli

#372 Implement `labels` Property for Cfgu Declaration
  ts/packages/ts/src/types/generated.ts
  types/Cfgu.ts
Labels: feat, @configu/core, @configu/ts
