Repository configu/configu, pull requests merged in 2024-04, with the labels that each got.

#395 Format objects for terraform .tfvars file
  ts/packages/lib/src/formatters/configFormatters.ts
Labels: bug, community, @configu/lib

#389 Implement SDK changes for local cache for config store
  ts/packages/node/src/stores/CockroachDB.ts
  ts/packages/node/src/stores/MSSQL.ts
  ts/packages/node/src/stores/MariaDB.ts
  ts/packages/node/src/stores/MySQL.ts
  ts/packages/node/src/stores/ORM.ts
  ts/packages/node/src/stores/PostgreSQL.ts
  ts/packages/node/src/stores/SQLite.ts
  ts/packages/ts/src/commands/EvalCommand.ts
  ts/packages/ts/src/utils.ts
Labels: chore, @configu/ts

#409 Add missing stores to `@configu/lib`
  ts/packages/lib/src/integrations/store.ts
Labels: chore, @configu/lib

#413 Refactor Local Cache for ConfigStore SDK
  ts/packages/ts/src/commands/EvalCommand.ts
Labels: feat, @configu/ts

#412 Add TODO comment to `KeyvConfigStore`
  ts/packages/node/src/stores/Keyv.ts
Labels: chore, @configu/ts

#411 Add `etcd` to `@configu/lib` store types
  ts/packages/lib/src/integrations/store.ts
Labels: chore, @configu/lib

#390 Implement local cache for config store
  ts/package-lock.json
  ts/packages/cli/package.json
  ts/packages/cli/src/base.ts
  ts/packages/cli/src/commands/eval.ts
  ts/packages/cli/src/helpers/stores.ts
Labels: feat, @configu/cli

#415 Fix cache store throws exception if storeFlag is missing
  ts/packages/cli/src/base.ts
Labels: bug, @configu/cli

#423 Gevaperry patch 2
  docs/introduction/concepts.mdx
  docs/introduction/overview.mdx
Labels: @configu/docs
