Repository configu/configu, pull requests merged in 2025-03, with the labels that each got.

#717 fix(formatters): export dotenv with special characters
  packages/formatters/src/Dotenv.ts
Labels: community, @configu/formatters

#724 Develop on windows
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Labels: chore

#726 Fix local `.configu` init and SQLite store indexes
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/install.ts
  packages/cli/src/commands/purge.ts
  packages/cli/src/index.ts
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/ConfiguInterface.ts
  packages/proxy/src/index.ts
  packages/stores/database/src/index.ts
Labels: bug, @configu/cli, @configu/proxy, @configu/common, @configu/stores
