Repository configu/configu, pull requests merged in 2025-01, with the labels that each got.

#695 Remove `config` naming restriction
  packages/sdk/src/ConfigKey.ts
Labels: bug, @configu/sdk

#664 Add "Open with Codeanywhere" badge to README.md
  README.md
Labels: community, @configu/repo

#699 ConfiguModule
  .vscode/launch.json
  examples/playground/.configu
  examples/playground/test.cfgu.yaml
  package.json
  packages/cli/package.json
  packages/cli/src/commands/base.ts
  packages/cli/src/commands/eval.ts
  packages/cli/src/commands/export.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/upsert.ts
  packages/cli/src/helpers/configExtractor.ts
  packages/common/package.json
  packages/common/src/CfguFile.ts
  packages/common/src/ConfiguFile.ts
  packages/common/src/ConfiguInterface.ts
  packages/common/src/ConfiguModule.ts
  packages/common/src/builtins.ts
  packages/common/src/utils.ts
  packages/common/src/utils/GitTemplate.ts
  packages/formatters/package.json
  packages/proxy/src/routes.ts
  packages/schema/build.mts
  packages/sdk/package.json
  packages/sdk/src/ConfigKey.ts
  packages/sdk/src/index.ts
  packages/sdk/tsup.config.ts
  packages/stores/configu/src/index.ts
  packages/stores/database/src/index.ts
  packages/stores/file/src/index.ts
  packages/stores/ini-file/src/index.ts
  packages/stores/key-value/src/index.ts
  packages/stores/launch-darkly/src/index.ts
  packages/stores/toml-file/src/index.ts
  patches/giget.patch
  patches/npm.patch
  pnpm-lock.yaml
Labels: feat, @configu/examples, @configu/cli, @configu/repo, @configu/proxy, @configu/sdk

#697 Enable SSE at @configu/proxy
  packages/proxy/package.json
  packages/proxy/src/__tests__/.configu
  packages/proxy/src/__tests__/configs.json
  packages/proxy/src/__tests__/proxy.test.ts
  packages/proxy/src/__tests__/schema.json
  packages/proxy/src/__tests__/start.cfgu.json
  packages/proxy/src/fastify.d.ts
  packages/proxy/src/index.ts
  packages/proxy/src/routes.ts
  packages/proxy/src/server.ts
  pnpm-lock.yaml
Labels: feat, community, @configu/repo, @configu/proxy
