Repository configu/configu, pull requests merged in 2025-05, with the labels that each got.

#735 Restore `wrap: true` for `--source` cli export flag
  packages/cli/src/commands/export.ts
Labels: bug, @configu/cli

#736 Update configu platform snippets
  docs/integrations/store/configu/overview.mdx
  packages/stores/configu-platform/README.md
Labels: bug, @configu/docs, @configu/stores

#729 725 - Pass Cfgu to store in Upsert command
  packages/sdk/src/Config.ts
  packages/sdk/src/commands/UpsertCommand.ts
  packages/stores/file/src/index.ts
Labels: feat, @configu/sdk, @configu/stores

#738 Update init.ts
  packages/cli/src/commands/init.ts
Labels: bug, @configu/cli
